@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f6f3;
  --foreground: #333333;
  --primary: #a75d67;
  --charcoal: #6d6d6d;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Figtree, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
